<div class="container">
  <div class="col s12">
    <h1 class="header">Sign Up</h1>
    <h3>Already have an account? Log in <a href="<%= new_session_path %>">here</a></h3>
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div>
          <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <br />
      <% end %>
          <div class="input-field col s6">
            <%= f.label :first_name, "First Name*" %><br>
            <%= f.text_field :first_name, :required => true %>
          </div>
          <div class="input-field col s6">
            <%= f.label :last_name, "Last Name" %><br>
            <%= f.text_field :last_name %>
          </div>
          <div class="input-field col s6">
            <%= f.label :email, "Email*" %><br>
            <%= f.text_field :email, :required => true, type: 'email' %>
          </div>
          <div class="input-field col s6">
            <%= f.label :password, "Password*" %><br>
            <%= f.password_field :password, :required => true %>
          </div>
          <div class="input-field col s6">
            <%= f.label :password_confirmation, "Confirm Password*" %><br>
            <%= f.password_field :password_confirmation, :required => true %>
          </div>
          <br />
          <button class="btn waves-effect waves-light light-blue darken-4" type="submit" name="action">Sign Up
            <i class="material-icons right">done</i>
          </button>
        </div>
    <% end %>
  </div>
</div>
