<div class="Content">
  <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
          <a class="pure-menu-heading" href="/">UTM Hero</a>

          <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
              <li class="pure-menu-item pure-menu-selected"><a href="<%= new_user_path %>" class="pure-menu-link">Sign Up</a></li>
          </ul>
      </div>
  </div>
  <div class="pure-g">
    <h1>Sign Up</h1>
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div>
          <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <br />
      <% end %>
      <div class="pure-form pure-form-stacked">
        <%= f.label :first_name, "First Name" %><br>
        <%= f.text_field :first_name, required: true %>
        <%= f.label :last_name, "Last Name" %><br>
        <%= f.text_field :last_name, required: true %>
        <%= f.label :email, "email" %><br>
        <%= f.text_field :email, required: true %>
        <%= f.label :first_name, "First Name" %><br>
        <%= f.text_field :first_name, required: true %>
        <button class="button is-success">
          Submit
        </button>
      </div>
    <% end %>
  </div>
</div>
