<table id="links_table" class="pure-table">
  <thead>
      <tr>
          <th>#</th>
          <th>Client</th>
          <th>Website URL</th>
          <th>Campaign Source</th>
          <th>Campaign Medium</th>
          <th>Campaign Term</th>
          <th>Campaign Content</th>
          <th>Campaign Name</th>
          <th>Notes</th>
      </tr>
  </thead>
  <tbody>
    <% number = 1 %>
    <% @links.each do |link| %>
      <tr>
          <td><%= number %></td>
          <td><%= link.client_id %></td>
          <td><%= link.website_url %></td>
          <td><%= link.campaign_source %></td>
          <td><%= link.campaign_medium %></td>
          <td><%= link.communication_id %></td>
          <td><%= link.utm_content %></td>
          <td><%= link.campaign_name %></td>
          <td><%= link.link_reference %></td>
      </tr>
    <% number += 1 %>
  <% end %>
  </tbody>
</table>
