<table id="links_table" class="display compact">
  <thead>
      <tr>
          <th>Client</th>
          <th>Made By</th>
          <th>Website URL</th>
          <th>Campaign Source</th>
          <th>Campaign Medium</th>
          <th>Campaign Term</th>
          <th>Campaign Content</th>
          <th>Campaign Name</th>
          <th>Notes</th>
          <th>UTM Link</th>
      </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Client</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
  <tbody>
    <% @links.each do |link| %>
      <tr>
          <td><%= link.client_id %></td>
          <td><%= link.user_id %></td>
          <td><%= link.website_url %></td>
          <td><%= link.campaign_source %></td>
          <td><%= link.campaign_medium %></td>
          <td><%= link.communication_id %></td>
          <td><%= link.utm_content %></td>
          <td><%= link.campaign_name %></td>
          <td><%= link.link_reference %></td>
          <td><%= link.utm_link %></td>
      </tr>
  <% end %>
  </tbody>
</table>
