<% if @last_link %>
  <%= form_for @link do |f| %>
    <div class="pure-form">
      <%= f.label :client_id %><br>
      <%= f.text_field :client_id, value: @client_name %>
      <%= f.label :website_url, "Website URL" %>
      <%= f.text_field :website_url, value: @last_link.website_url, required: true %>
      <%= f.label :campaign_source, "Campaign Source"%>
      <%= f.text_field :campaign_source, value: @last_link.campaign_source, required: true %>
      <%= f.label :campaign_medium, "Campaign Medium" %>
      <%= f.text_field :campaign_medium, value: @last_link.campaign_medium, required: true %>
      <%= f.label :communication_id, "Campaign Term" %>
      <%= f.text_field :communication_id, value: @last_link.communication_id %>
      <%= f.label :utm_content, "Campaign Content" %>
      <%= f.text_field :utm_content, value: @last_link.utm_content %>
      <%= f.label :campaign_name, "Campaign Name" %>
      <%= f.text_field :campaign_name, value: @last_link.campaign_name, required: true %>
      <%= f.label :link_reference, "Notes" %>
      <%= f.text_field :link_reference, value: @last_link.link_reference %>
      <br />
      <%= f.submit "Submit", id: "index-page-submit-button" %>
    </div>
  <% end %>
<% else %>
  <%= form_for @link do |f| %>
    <div class="pure-form">
      <%= f.label :client_id %><br>
      <%= f.text_field :client_id, value: @client_name %>
      <%= f.label :website_url, "Website URL" %>
      <%= f.text_field :website_url, required: true %>
      <%= f.label :campaign_source, "Campaign Source"%>
      <%= f.text_field :campaign_source, required: true %>
      <%= f.label :campaign_medium, "Campaign Medium" %>
      <%= f.text_field :campaign_medium, required: true %>
      <%= f.label :communication_id, "Campaign Term" %>
      <%= f.text_field :communication_id %>
      <%= f.label :utm_content, "Campaign Content" %>
      <%= f.text_field :utm_content%>
      <%= f.label :campaign_name, "Campaign Name" %>
      <%= f.text_field :campaign_name, required: true %>
      <%= f.label :link_reference, "Notes" %>
      <%= f.text_field :link_reference %>
      <br />
      <%= f.submit "Submit", id: "index-page-submit-button" %>
    </div>
  <% end %>
<% end %>
