<table id="links_table" class="display compact">
  <thead>
      <tr>
          <th>Client</th>
          <th>Made By</th>
          <th>Website URL</th>
          <th>Campaign Source</th>
          <th>Campaign Medium</th>
          <th>Campaign Term</th>
          <th>Campaign Content</th>
          <th>Campaign Name</th>
          <th>Notes</th>
          <th>UTM Link</th>
      </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Client</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
  <tbody>
    <% (0..@links.length).each do |i| %>
      <% if @links[i] %>
        <tr>
            <td><%= @client_names[i] %></td>
            <td><%= @user_names[i] %></td>
            <td><%= @links[i].website_url %></td>
            <td><%= @links[i].campaign_source %></td>
            <td><%= @links[i].campaign_medium %></td>
            <td><%= @links[i].communication_id %></td>
            <td><%= @links[i].utm_content %></td>
            <td><%= @links[i].campaign_name %></td>
            <td><%= @links[i].link_reference %></td>
            <td><%= @links[i].utm_link %></td>
        </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
