<table id="links_table" class="striped bordered">
  <thead>
      <tr>
          <th>Client</th>
          <th>Made By</th>
          <th>Created At</th>
          <th>Bitly URL</th>
          <th>Website URL</th>
          <th>Campaign Source</th>
          <th>Campaign Medium</th>
          <th>Campaign Term</th>
          <th>Campaign Content</th>
          <th>Campaign Name</th>
          <th>Notes</th>
          <th>UTM Link</th>
      </tr>
  </thead>
  <tbody>
    <% (0..@links.length).each do |i| %>
      <% if @links[i] %>
        <%= form_for @links[i] do |f| %>
          <tr>
              <td><input value="<%= @client_names[i] %>"/></td>
              <td><input value="<%= @user_names[i] %>"/></td>
              <td><input value="<%= @created_times[i] %>"</td>
              <td><input value="<%= @links[i].short_link %>"/></td>
              <td><input value="<%= @links[i].website_url %>"/></td>
              <td><%= f.text_field :campaign_source, value: @links[i].campaign_source %></td>
              <td><%= f.text_field :campaign_medium, value: @links[i].campaign_medium %></td>
              <td><%= f.text_field :communication_id, value: @links[i].communication_id %></td>
              <td><%= f.text_field :utm_content, value: @links[i].utm_content %></td>
              <td><%= f.text_field :campaign_name, value: @links[i].campaign_name %></td>
              <td><%= f.text_field :link_reference, value: @links[i].link_reference %></td>
              <td><input value="<%= @links[i].utm_link %>"/></td>
          </tr>
        <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>
