<div>
  <b>Show / Hide Columns:</b>
  <br />
  <a class="showHideColumn selected" data-columnindex="0">Client - </a>
  <a class="showHideColumn selected" data-columnindex="1">Made By - </a>
  <a class="showHideColumn selected" data-columnindex="2">Created At - </a>
  <a class="showHideColumn selected" data-columnindex="3">Bitly URL - </a>
  <a class="showHideColumn selected" data-columnindex="4">Website URL - </a>
  <a class="showHideColumn selected" data-columnindex="5">Campaign Source - </a>
  <a class="showHideColumn selected" data-columnindex="6">Campaign Medium - </a>
  <a class="showHideColumn selected" data-columnindex="7">Campaign Term - </a>
  <a class="showHideColumn selected" data-columnindex="8">Campaign Content - </a>
  <a class="showHideColumn selected" data-columnindex="9">Campaign Name - </a>
  <a class="showHideColumn selected" data-columnindex="10">Notes - </a>
  <a class="showHideColumn selected" data-columnindex="11">UTM Link</a>
</div>
<table id="links_table" class="display compact">
  <thead>
      <tr>
          <th>Client</th>
          <th>Made By</th>
          <th>Created At</th>
          <th>Bitly URL</th>
          <th>Website URL</th>
          <th>Campaign Source</th>
          <th>Campaign Medium</th>
          <th>Campaign Term</th>
          <th>Campaign Content</th>
          <th>Campaign Name</th>
          <th>Notes</th>
          <th>UTM Link</th>
      </tr>
    <tr id="filterrow">
        <th>Client</th>
        <th>Made By</th>
        <th>Created At</th>
        <th>Bitly URL</th>
        <th>Website URL</th>
        <th>Campaign Source</th>
        <th>Campaign Medium</th>
        <th>Campaign Term</th>
        <th>Campaign Content</th>
        <th>Campaign Name</th>
        <th>Notes</th>
        <th>UTM Link</th>
    </tr>
  </thead>
  <tbody>
    <% (0..@links.length).each do |i| %>
      <% if @links[i] %>
        <tr>
            <td><%= @client_names[i] %></td>
            <td><%= @user_names[i] %></td>
            <td><%= @created_times[i] %></td>
            <td><%= @links[i].short_link %></td>
            <td><%= @links[i].website_url %></td>
            <td><%= @links[i].campaign_source %></td>
            <td><%= @links[i].campaign_medium %></td>
            <td><%= @links[i].communication_id %></td>
            <td><%= @links[i].utm_content %></td>
            <td><%= @links[i].campaign_name %></td>
            <td><%= @links[i].link_reference %></td>
            <td><%= @links[i].utm_link %></td>
        </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
