<!-- Modal Trigger -->
<a class="modal-trigger waves-effect waves-light blue btn" href="#new_links_modal">New Link</a>
<!-- Modal Structure -->
<div id="new_links_modal" class="modal">
  <h3 class="center" style="padding-top:2em;">Make a New Link</h3>
  <div class="modal-content">
    <% if @last_link %>
      <%= form_for @link do |f| %>
        <div class="row">
          <%= f.label :client_id %>
          <%= f.text_field :client_id, value: @client_name %>
          <br />
          <%= f.label :website_url, "Website URL *" %>
          <%= f.text_field :website_url, value: @last_link.website_url, required: true %>
          <br />
          <%= f.label :campaign_source, "Campaign Source *"%>
          <%= f.text_field :campaign_source, value: @last_link.campaign_source, required: true %>
          <br />
          <%= f.label :campaign_medium, "Campaign Medium *" %>
          <%= f.text_field :campaign_medium, value: @last_link.campaign_medium, required: true %>
          <br />
          <%= f.label :communication_id, "Campaign Term" %>
          <%= f.text_field :communication_id, value: @last_link.communication_id %>
          <br />
          <%= f.label :utm_content, "Campaign Content" %>
          <%= f.text_field :utm_content, value: @last_link.utm_content %>
          <br />
          <%= f.label :campaign_name, "Campaign Name *" %>
          <%= f.text_field :campaign_name, value: @last_link.campaign_name, required: true %>
          <br />
          <%= f.label :link_reference, "Notes" %>
          <%= f.text_field :link_reference, value: @last_link.link_reference %>
          <br />
          <%= f.submit "Submit", class: "waves-effect waves-light btn blue" %>
        </div>
      <% end %>
    <% else %>
      <%= form_for @link do |f| %>
        <div class="row">
          <%= f.label :client_id %>
          <%= f.text_field :client_id, value: @client_name %>
          <br />
          <%= f.label :website_url, "Website URL *" %>
          <%= f.text_field :website_url, required: true %>
          <br />
          <%= f.label :campaign_source, "Campaign Source *"%>
          <%= f.text_field :campaign_source, required: true %>
          <br />
          <%= f.label :campaign_medium, "Campaign Medium *" %>
          <%= f.text_field :campaign_medium, required: true %>
          <br />
          <%= f.label :communication_id, "Campaign Term" %>
          <%= f.text_field :communication_id %>
          <br />
          <%= f.label :utm_content, "Campaign Content" %>
          <%= f.text_field :utm_content%>
          <br />
          <%= f.label :campaign_name, "Campaign Name *" %>
          <%= f.text_field :campaign_name, required: true %>
          <br />
          <%= f.label :link_reference, "Notes" %>
          <%= f.text_field :link_reference %>
          <br />
          <%= f.submit "Submit", class: "waves-effect waves-light btn blue" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
