<!DOCTYPE html>
<html>
<head>
  <title>UtmHero</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true">
  <div class="navbar-fixed">
    <nav class="light-blue darken-4">
      <div class="nav-wrapper">
        <a class="brand-logo left" href="/">UTM Hero</a>
        <ul class="right hide-on-med-and-down">
          <li class=" <%= current_page?('/') ? 'active' : '' %>"><a href="/">Home</a></li>
          <% if current_user %>
            <li class=" <%= current_page?('/links') ? 'active' : '' %> "><a href="/links">My Links</a></li>
            <li><%= link_to "Log out", session_path("current"), method: :delete %></li>
          <% else %>
            <li class=" <%= current_page?('/users/new') ? 'active' : '' %> "><a href="<%= new_user_path %>">Sign Up</a></li>
            <li class=" <%= current_page?('/sessions/new') ? 'active' : '' %> "><a href="<%= new_session_path %>">Log In</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
  <% unless flash.empty? %>
    <div class="flash">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "notifications") %>
      <% end %>
    </div>
    <% end %>
  <%= yield %>
</body>
</html>
